body,html{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    color: #ffffff;
    font:normal 100% 'Hiragino Sans GB',Helvetica,'Microsoft YaHei','冬青黑体简体中文 W3';
    background-image: url(../images/s_bg.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
    font-size: 1.5em;/*1em=16px*/
    position: absolute;
    top: 0px;
    left: 0px;
    /*-webkit-font-smoothing:antialiased;*/
}
*{
    animation:fading 0.3s 1;
    -webkit-animation:fading 0.3s  1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-appearance: none;
}
title{
    width: 100%;
    text-align: center;
}
.svgrect{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -100;
}
@-webkit-keyframes twinkling{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {opacity: 0;}/*初始状态 透明度为0*/
    40% {opacity: 0;}/*过渡状态 透明度为0*/
    100% {opacity: 1;}/*结束状态 透明度为1*/
}
@-webkit-keyframes fade-in {/*针对webkit内核*/
    0% {opacity: 0;}
    40% {opacity: 0;}
    100% {opacity: 1;}
}
#dialog-info{
    /*margin-left: 16.5px;*/
    padding-left: 25px;
    padding-right: 25px;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    overflow-y: auto;
   -webkit-overflow-scrolling:touch;
    overflow-x: hidden;
    padding-top: 10px;
    padding-bottom: 15px;
}
.cs_avatars{
    display: inline-block;
    vertical-align: top;
    width: 39px;
    height: 39px;
}
.user-avatar{
    display: inline-block;
    vertical-align: top;
}
.user-avatar img{
    width: 39px;
    height: 39px;
    border-radius: 3px;
}
#dialog{
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0px;
    display: none;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.dialog-input{
    width: 98%;
    height: 25.5px;
    border: none;
    background: transparent;
    display: inline-block;
    vertical-align: middle;
    outline:medium;
    color: #d8d8d8;
    font-size: 17px;
    /*line-height:  25.5px;*/
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-appearance:none;
    outline:none;
    padding: 0px;
    margin: 0px;
    text-align: left;
    border-radius: 0px;
    margin-top: -13px;
}
.input_index{
    display: inline-block;
    width: 99%;
    height: 35px;
    vertical-align: bottom;
    border-bottom: 1px solid rgba(216,216,216,.2);
}
.symbol{
    display: inline-block;
    width: 1px;
    height: 20px;
    background: #ffffff;
    -webkit-animation: twinkling 1s infinite ease-in-out;
    vertical-align: middle;
    margin-top: 5px;
}

::-webkit-scrollbar{width:0px;height: 0px}
::-webkit-scrollbar-track{background-color: transparent;}
::-webkit-scrollbar-thumb{background-color:transparent;border-radius: 10px}
.weather{
    float: left;
    font-size: 12px;
    margin-left: 20px;
    line-height: 28px;
    margin-top: 17.5px;
    display: none;
    position: absolute;
    animation:fade-in 0.3s 1;
    animation-duration:1.5s;
    -webkit-animation:fade-in 0.3s 1;
    -webkit-animation-duration:1.5s;
}
.pack_menu{
    position: fixed;
    bottom: 15px;
    right: 12.5px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 2;
    background: rgba(91,98,108,.6);
    border-radius: 100px;
    display: none;
}
.pack_menu span:first-child{
    display: block;
    width: 20px;
    height: 2px;
    background: rgb(178, 181, 185);
    border-radius: 5px;
    position: relative;
    top:50%;
    left:50%;
    margin-top: -1px;
    margin-left: -10px;
}
.pack_menu span:nth-child(2){
    display: block;
    width: 2px;
    height: 20px;
    background: rgb(178, 181, 185);
    border-radius: 5px;
    position: relative;
    top:50%;
    left: 50%;
    margin-top: -11.5px;
    margin-left: -1px;
}
.pack_menu_list{
    display: none;
    width: 110px;
    height:auto;
    position: absolute;
    right: 12px;
    bottom:64.5px;
    z-index:2;
    border-radius: 4px;
    background: -webkit-linear-gradient(#5d606c, #7c818f);
}
.pack_menu_list:after{
    content: '';
    display: block;
    width: 0px;
    height:0px;
    border-top: 4px solid rgba(124, 129, 143, 0);
    border-right: 4px solid #7c818f;
    border-bottom: 4px solid #7c818f;
    border-left: 4px solid rgba(124, 129, 143, 0);
    position: absolute;
    margin-left: 88.5px;
    z-index: 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-top: -4.5px;
}
.pack_menu_list_ul{
    padding:0px;
    margin:0px;
    border-radius: 4px;
}
.pack_menu_list_ul li{
    font-size: 15px;
    letter-spacing: 1px;
    /*color: #ffffff;*/
    list-style: none;
    text-align: center;
    height: 45px;
    line-height: 45px;
}
.pack_menu_list_ul li:not(:first-child){
    border-top: 1px solid rgba(216, 216, 216, 0.3);
}
.pack_menu_conv{
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: rgba(91,98,108,.6);
    border-radius: 100px;
    display: inline-block;
    vertical-align: top;
    margin-top: 11.25px;
    margin-left: -2px;
}
.pack_menu_conv span:first-child{
    display: block;
    width: 15px;
    height: 1px;
    background: rgb(178, 181, 185);
    border-radius: 5px;
    position: relative;
    top:50%;
    left:50%;
    margin-top: -0.5px;
    margin-left: -7.5px;
}
.pack_menu_conv span:nth-child(2){
    display: block;
    width: 1px;
    height: 15px;
    background: rgb(178, 181, 185);
    border-radius: 5px;
    position: relative;
    top:50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -0.5px;
}
.rest_days{
    position: absolute;
    top: 17.5px;
    left: 20px;
    width:auto;
    height: auto;
    z-index: 2;
    color: rgba(255,255,255,.5);
    font-size: 12px;
    display: none;
}
.days_num{
    /*display: inline-block;*/
    background: rgba(255,255,255,.1);
    border-radius: 2px;
    margin-left: 3px;
    margin-right: 3px;
    padding: 2px 2px;
}
.user-msg{
    text-align: right;
}
p:first-child{
    margin-top: 48px;
}

.container{
    width: 100%;
    height: 100%;
}
.bottomhei{
    width: 100%;
    height: 500px;
}
/**{*/
    /*-webkit-transition:all 0.1s linear;*/
    /*-moz-transition:all 0.1s linear;*/
    /*-ms-transition:all 0.1s linear;*/
    /*-o-transition:all 0.1s linear;*/
    /*transition:all 0.1s linear;*/
/*}*/

.changeHuashu{
    display: block;
    width: 100%;
    min-height: 72px;
    font-size: 25px;
    line-height: 1.5;
    color: #ffffff;
    margin-top: 25px;
    animation:fade-in 0.3s 1;
    animation-duration:1.2s;
    -webkit-animation:fade-in 0.3s  1;
    -webkit-animation-duration:1.2s;
    line-height: 1.3;
    text-align: justify;
    /*background: green;*/
}
.change{
    /*height: 400px;*/
    position: relative;
    display: none;
}
.changeDialog{
    width: 100%;
    height: 37px;
    border: none;
    animation:fade-in 0.3s 1;
    animation-duration:3s;
    -webkit-animation:fade-in 0.3s 1;
    -webkit-animation-duration:3s;
    margin-top: 35px;
    /*background: red;*/
}
.dosometihing{
    width: 100%;
}
.click_me{
    border: none;
    color: rgba(255, 255, 255, 0.4);
    border-radius: 18px;
    cursor: pointer;
    outline:none;
    font-size: 12px;
    float: right;
    padding: 6px 10px 10px 10px;
}

.mrs p{
    margin: 0px;
    padding: 0px;
}
p.shijian{
    text-align: center;
    margin-top: 25px;
    color: rgba(255,255,255,.4);
    font-size: 12px;
}
/*被隐藏的menu*/
#menu{
    display: inline-block;
    width: 50px;
    padding-top: 8px;
padding-bottom: 8px;
height: 100%;
background-image: url("../images/s_menu.png");
background-size: 18px auto;
background-repeat: no-repeat;
background-position: center center;
vertical-align: top;
color: rgba(255,255,255,.6);
line-height: 38.5px;
text-align: center;
font-weight: normal;
cursor: pointer;
float: left;
}
.follow_title{
    height: 35px;
    line-height: 35px;
    width: 100%;
    padding: 0px 15px;
    box-sizing:border-box;
    font-size: 12px;
    background: rgba(13,14,15,.3);
}
.follows{
    display: inline-block;
    width: auto;
    height: 35px;
    vertical-align: middle;
    color: rgba(255,255,255,.5);
}
.icon_close{
    display: inline-block;
    width: 35px;
    height: 35px;
    background-image: url("../images/s_ico_close.png");
    background-size: 15px 15px;
    background-position: center center;
    background-repeat: no-repeat;
    vertical-align: middle;
    float: right;
}
.con_dialogForm{
    display: inline-block;
    /*float: right;*/
    height: 54.5px;
    vertical-align: top;
    /*margin: 0px;*/
    padding: 0px 7px 0px 15px;
    width: 100%;
    box-sizing:border-box;
    border-top: 1px solid rgba(216,216,216,.3);
}
.avatar{
    display: inline-block;
    vertical-align: top;
    /*margin-top: 5px;*/
    width: 39px;
    height: 39px;
    background-color: rgba(12, 13, 14, 0.3);
    border-radius: 3px;
    background-image: url("../images/s_logo.png");
    background-size: 30px;
    background-position: center center;
    background-repeat: no-repeat;
}
.changeWord{
    width: 74px;
    height: 35px;
    background-image: url("../images/s_logo.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    animation:fade-in 0.3s 1;
    animation-duration:0.3s;
    -webkit-animation:fade-in 0.3s 1;
    -webkit-animation-duration:0.3s;
}
.cs-msg-content{
    display: inline-block;
    /*min-width: 30px;*/
    max-width: 60%;
    vertical-align: top;
    padding: 10px 10px;
    background-color: rgba(12, 13, 14, 0.3);
    border-radius: 4px;
    font-size: 15px;
}
.cs_bubble{
    display: inline-block;
    vertical-align: top;
    width: 0px;
    height: 0px;
    outline:1px solid transparent;
    border-top: 3.5px solid rgba(12, 13, 14, 0.0);
    border-right: 3.5px solid rgba(12, 13, 14, 0.0);
    border-left: 3.5px solid rgba(12, 13, 14, 0.3);
    border-bottom: 3.5px solid rgba(12, 13, 14, 0.3);
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border-radius: 0px 0 0 1px;
    /*transform: rotate(-90deg)  skew(-20deg, 0deg);*/
    margin-left: 8px;
    margin-right: -3.75px;
    margin-top: 15px;
}
.user-msg-content{
    display: inline-block;
    vertical-align: top;
    text-align: left;
    max-width: 60%;
    padding: 10px 10px;
    background-color: rgba(90, 97, 108, 0.4);
    border-radius: 4px;
    font-size: 15px;
    min-height:40px;
    min-width:35px;
}
.bubble{
    display: inline-block;
    vertical-align: middle;
    width: 0px;
    height: 0px;
    outline:1px solid transparent;
    border-top: 3.5px solid rgba(90, 97, 108, 0.4);
    border-right: 3.5px solid rgba(90, 97, 108, 0.4);
    border-left: 3.5px solid rgba(90, 97, 108, 0.0);
    border-bottom: 3.5px solid rgba(90, 97, 108, 0.0);
    transform: rotate(45deg) ;
    -webkit-transform: rotate(45deg);
    overflow: hidden;
    margin-top: -20px;
    margin-right: 8px;
    border-radius: 0px 1px 0px 0px;
    margin-left: -3.5px;
}
.con_dialogForm input{
    display: inline-block;
    /*vertical-align: middle;*/
    width: 100%;
    height: 38.5px;
    vertical-align: top;
    border: none;
    background: rgba(86,93,103,0.6);
    border-radius: 4px;
    color: #ffffff;
    font-size: 15px;
    padding: 0px 10px;
    box-sizing:border-box;
    margin: 0px;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-appearance:none;
    outline:none;
    margin-top: 7px;
}
input::-webkit-input-placeholder{
    color: rgba(255,255,255,.6);
}
.dialogForm{
    /*display: inline-block;*/
    /*vertical-align: top;*/
    width: 100%;
    /*height: 25.5px;*/
}

::-webkit-scrollbar{
    opacity: 0;
}
.loader {
    margin: 1em auto;
    font-size: 5px;
    position: relative;
    text-indent: -9999em;
    border-top: 0.2em solid rgba(255, 255, 255, 0.6);
    border-right: 0.2em solid rgba(255, 255, 255, 0.6);
    border-bottom: 0.2em solid rgba(255, 255, 255, 0.6);
    border-left: 0.2em solid #ffffff;
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
    display: none;
}
.loader,
.loader:after {
    border-radius: 50%;
    width: 3em;
    height: 3em;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.menu_list{
    position: absolute;
    right: 10px;
    bottom: 95px;
    width: auto;
}
div.menuDiv{
    padding: 20px 20px 27px 20px;
    margin: 0px;
    background: -webkit-linear-gradient(#63636e, #9095a2);
    border-radius: 4px;
}
div.menuDiv:after{
    display: block;
    content: '';
    width: 0px;
    height:0px;
    border-top: 5px solid rgba(140,145,157,0);
    border-right: 5px solid #9095a2;
    border-bottom: 5px solid #9095a2;
    border-left: 5px solid rgba(140,145,157,0);
    position: absolute;
    right:20px;
    z-index: 0;
    margin-top:21px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
 #bacBlur{
     width: 90px;
     height: 100%;
 }
 .ulcontent{
     position: relative;
     top: -35px;

 }
.control{
    width: 100%;
    max-height: 100px;
    position: absolute;
    top: 0px;

    overflow: auto;
}
.testEdit{
    width: 100%;
    position: absolute;
    bottom: 25px;
    color: #ffffff;
    opacity: 0.3;
    font-size: 11px;
    text-align: center;
    line-height: 0.9;
    display: none;
}
.testEdit_trip{
    width: 17.8vw;
    max-width:112px;
    height: 6.5vw;
    max-height: 49px;
    position: absolute;
    bottom: 22.5px;
    left: 25px;
    color: #ffffff;
    display: none;
    opacity: 1.0;
    text-align: left;
    padding: 0 5px;
    background-image: url("../images/power_s.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center bottom;
}

a{
    color: #3C9FFD;
    text-decoration: none;
}
.index_send_message{
    width: 40px;
    font-size: 15px;
    vertical-align: middle;
    margin-top: -13px;
    color: #d8d8d8;
    display: none;
}
.standard-detail{
    width:100%;
    height: 34px;
    background-color: rgba(13, 14, 15, 0.95);
    position: fixed;
    top:-35px;
    left:0px;
    z-index: 10000;
    color:rgba(255,255,255,.7);
    line-height:34px;
    font-size: 12px;
    padding:0 10px;
    /*display: flex;*/
    box-sizing: border-box;
    display: none;
}
.detail-of-member{
    display: inline-block;
    width:45px;
    height: 20px;
    border:1px solid rgba(255,255,255,.3);
    text-align: center;
    line-height: 19px;
    border-radius: 4px;
    margin-left: 10px;
}
.shouqi{
    float: right;
    /*width: 70px;*/
    color: rgba(255,255,255,.4);
}
.upicon{
    display: inline-block;
    width: 7px;
    height: 7px;
    border-top:1px solid rgba(255,255,255,.4);
    border-right:1px solid rgba(255,255,255,.4);
    border-left:1px solid rgba(255,255,255,.0);
    border-bottom:1px solid rgba(255,255,255,.0);
    transform:rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    vertical-align: middle;
    margin-top: 3px;
}
.member-detail,
.coffee-account,
.coffee-expire{
    width:100%;
    height:100%;
    background-color: rgba(24, 25, 28, 0.85);
    position: absolute;
    top:0px;
    left: 0px;
    z-index: 100;
}
.member-detail-container,
.coffee-account-container ,
.coffee-expire-container{
    width:81.3vw;
    height: 102.6vw;
    max-width:610px;
    max-height:770px;
    border-radius: 4px;
    background-image: linear-gradient(148deg, #63636e, #9095a2);
    position: relative;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
.coffee-account-container,
.coffee-expire-container{
    background: #2A2A2D;
    height: 91.2vw;
    max-height: 685px;
}
.coffee-expire-container{
    height: 96.9vw;
    max-height: 727px;
}
.free-open{
    font-size: 17px;
    font-weight: normal;
    text-align: center;
    color: #ffffff;
    line-height: 1;
    margin-top: 5.2%;
}
.activity-desc{
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    padding:0 20px;
    margin-top: 5.2%;
}
.activity-date{
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    color: #323b4f;
    margin-top: 7%;
}
.now-open{
    width:100%;
    height: 50px;
    text-align: center;
    line-height:50px;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #ffffff;
    border:none;
    background-color: transparent;
    border-top: 1px solid rgba(216, 216, 216, 0.3);
    position: absolute;
    bottom: 0px;
}
.close-activity{
    width: 30px;
    height:30px;
    background-image: url(../images/s_ico_close.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: 100% 0%;
    position: absolute;
    right: 12.5px;
    top:10px;
}

.socketClose{
    margin-top: 35px;
}
.flexbox{
    flex: 2;
}
.now-open:active{
    background-color:rgba(0,0,0,.25);
}
.screen-shot-prompt{
    width:100%;
    position: absolute;
    top: 0px;
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.7);
    height: 34px;
    line-height: 34px;
    background-color: rgba(13, 14, 15, 0.95);

}
.trip-account-container,
.trip-expire-container{
    background-image: linear-gradient(to bottom, #727b88, #545962);
}

@media screen and (min-width: 769px)and (orientation : landscape){

    .dialog-infos{
        width: 55%;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: auto;
        margin-right: auto;
        box-sizing:border-box;
        -webkit-box-sizing:border-box;
        overflow-y: auto;
        -webkit-overflow-scrolling:touch;
    }
}
@media screen and (orientation : landscape)  and (max-width: 769px){
    .member-detail-container {
        width: 81.3vh;
        height: 102.6vh;
        max-width: 610px;
        max-height: 770px;
        border-radius: 4px;
        background-image: linear-gradient(148deg, #63636e, #9095a2);
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
    }
    .dialog-infos{
        width: 100%;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 25px;
        padding-right: 25px;
        margin-left: auto;
        margin-right: auto;
        box-sizing:border-box;
        -webkit-box-sizing:border-box;
        overflow-y: auto;
        -webkit-overflow-scrolling:touch;
    }
    .dialog-input{
        width: 98%;
        height: 25.5px;
        border: none;
        background: transparent;
        display: inline-block;
        vertical-align: middle;
        outline:medium;
        color: #d8d8d8;
        font-size: 17px;
        -webkit-tap-highlight-color:rgba(0,0,0,0);
        -webkit-appearance:none;
        outline:none;
        padding: 0px;
        margin: 0px;
        text-align: left;
        border-radius: 0px;
        margin-top: -13px;
    }
    .dialogForm{
        width: 100%;
        padding-bottom: 150px;
    }

}

/*coffee css*/
.changeWord-coffee{
    background-image: url("../images/mrs_coffee.png");
    background-size: 36px auto;
    height: 62px;
}
.input_index_coffee{
    border-bottom: none;
    /*width: 100%;*/
    position: absolute;
}
.dialog-input-coffee{
    border-bottom: 1px solid rgba(216,216,216,.2);
    padding-bottom: 2px;
}
.index_send_message_coffee{
    width: 70px;
    height: 30px;
    line-height: 30px;
    color: white;
    background: #016b43;
    border-radius: 2px;
    text-align: center;
    margin-left: 5px;
    display: inline-block;
}
.pack_menu_list_coffee{
    background: #2A2A2D;
}
.pack_menu_list_coffee:after{
    content: '';
    display: block;
    width: 0px;
    height:0px;
    border-top: 4px solid rgba(124, 129, 143, 0);
    border-right: 4px solid #2A2A2D;
    border-bottom: 4px solid #2A2A2D;
    border-left: 4px solid rgba(124, 129, 143, 0);
    position: absolute;
    margin-left: 88.5px;
    z-index: 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-top: -4.5px;
}
.pack_menu_coffee{
    background: transparent;
}
.testEdit_coffee{
    color:white;
    opacity: 0.1;
}
.enter_code_coffee{
    text-align: center;
    color: rgba(255, 255, 255, .7);
    font-size: 12px;
    line-height:1;
}

.user-msg-content-coffee{
    background-color: #2A2A2D;
}
.cs-msg-content-coffee{
    background-color: #016b43;
}
.follows-sqr{
    float: right;
    /*width: 43.5px;*/
    /*height: 20px;*/
}
.follows-sqr span{
    padding: 4px 10px;
    /*opacity: 0.3;*/
    border-radius: 2px;
    border:1px solid rgba(216, 216, 216, 0.31);
    color: rgba(255, 255, 255, .8);
}
.menu_list_coffee{
    position: absolute;
    right: 10px;
    bottom: 95px;
    width: auto;
}
div.menuDiv-coffee{
    padding: 20px 20px 27px 20px;
    margin: 0px;
    background-color:#2a2a2d;
    border-radius: 4px;
}
div.menuDiv-coffee:after{
    display: block;
    content: '';
    width: 0px;
    height:0px;
    border-top: 5px solid rgba(140,145,157,0);
    border-right: 5px solid #2a2a2d;
    border-bottom: 5px solid #2a2a2d;
    border-left: 5px solid rgba(140,145,157,0);
    position: absolute;
    right: 20px;
    z-index: 0;
    margin-top:21px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.follows_coffee{
    color: rgba(255, 255, 255, .8);
}
.follow_title_coffee{
    background: rgba(11, 12, 13, 0.6);
}
.con_dialogForm_coffee input{
    display: inline-block;
    /* vertical-align: middle; */
    width: 100%;
    height: 38.5px;
    vertical-align: top;
    border: none;
    background: rgba(255, 255, 255, 0.1);;
    border-radius: 4px;
    color: #ffffff;
    font-size: 15px;
    padding: 0px 10px;
    box-sizing: border-box;
    margin: 0px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-appearance: none;
    outline: none;
    margin-top: 7px;
}
.con_dialogForm_coffee input::-webkit-input-placeholder{
    color: rgba(255, 255, 255, 0.21);
}
.pack_menu_conv_coffee{
    background: rgba(255, 255, 255, 0.1);
}
.pack_menu_conv_coffee span:first-child,.pack_menu_conv_coffee span:nth-child(2){
    background: rgba(255, 255, 255, 0.6);
}
.cs_bubble_coffee{
    border-top: 5px solid rgba(12, 13, 14, 0.0);
    border-right: 5px solid rgba(12, 13, 14, 0.0);
    border-left: 5px solid #016b43;
    border-bottom: 5px solid #016b43;
    margin-right: -5.75px;
}
.cs_avatars_coffee{
    display: none;
}
.bubble-coffee{
    border-top: 5px solid #2A2A2D;
    border-right: 5px solid #2A2A2D;
    border-left: 5px solid rgba(90, 97, 108, 0.0);
    border-bottom: 5px solid rgba(90, 97, 108, 0.0);
    margin-left: -5.5px;
}
.now-open-coffee{
    border-top: 1px solid rgba(169, 141, 101, 0.3);
    color: #a98d65;
}
.now-open-trip{
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    color: #ffffff;
}
.close-account-coffee{
    width: 30px;
    height:30px;
    position: absolute;
    right: 12.5px;
    top:10px;
}
.standard-detail-coffee{
    display: none;
}
.symbol_coffee{
    position: absolute;
    left: 160px;
}
.changeDialog-coffee{
    position: relative;
}

/*trip css*/
.changeWord-trip{
    width: 26.8vw;
    max-width:201px;
    max-height: 120px;
    background-image: url("../images/mrs_trip.png");
    background-size: 100% auto;
    height: 16vw;
}
.index_send_message_trip{
    width: 70px;
    height: 30px;
    line-height: 30px;
    color: white;
    background: #1f5796;
    border-radius: 2px;
    text-align: center;
    margin-left: 5px;
    display: inline-block;
}
.pack_menu_list_trip{
    background: -webkit-linear-gradient(-84deg, #727b88, #545962);
}
.pack_menu_list_trip:after{
    border-top: 4px solid rgba(124, 129, 143, 0);
    border-right: 4px solid #545962;
    border-bottom: 4px solid #545962;
    border-left: 4px solid rgba(124, 129, 143, 0);
}
.user-msg-content-trip{
    background-color: #3e4552;
}
.cs-msg-content-trip{
    background-color: #1f5796;
}
.cs_bubble_trip{
    border-top: 5px solid rgba(12, 13, 14, 0.0);
    border-right: 5px solid rgba(12, 13, 14, 0.0);
    border-left: 5px solid #1f5796;
    border-bottom: 5px solid #1f5796;
    margin-right: -5.75px;
}
.cs_avatars_trip{
    display: none;
}
.bubble-trip{
    border-top: 5px solid #3e4552;
    border-right: 5px solid #3e4552;
    border-left: 5px solid rgba(90, 97, 108, 0.0);
    border-bottom: 5px solid rgba(90, 97, 108, 0.0);
    margin-left: -5.5px;
}
.follow_title_trip{
    background: rgba(9, 10, 12, 0.30);
}
.con_dialogForm_trip input{
    display: inline-block;
    /* vertical-align: middle; */
    width: 100%;
    height: 38.5px;
    vertical-align: top;
    border: none;
    background: rgba(62, 69, 82, 0.3);
    border-radius: 4px;
    color: #ffffff;
    font-size: 15px;
    padding: 0px 10px;
    box-sizing: border-box;
    margin: 0px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-appearance: none;
    outline: none;
    margin-top: 7px;
}
.con_dialogForm_trip input::-webkit-input-placeholder{
    color: rgba(255, 255, 255, 0.4);
}
.pack_menu_conv_trip{
    background: rgba(62, 69, 82, 0.3);
}
.pack_menu_conv_trip span:first-child,.pack_menu_conv_trip span:nth-child(2){
    background: rgba(255, 255, 255, 0.9);
}
div.menuDiv-trip{
    padding: 20px 20px 27px 20px;
    margin: 0px;
    background:linear-gradient(to bottom, #727b88, #545962);
    border-radius: 4px;
}
div.menuDiv-trip:after{
    display: block;
    content: '';
    width: 0px;
    height:0px;
    border-top: 5px solid rgba(140,145,157,0);
    border-right: 5px solid #545962;
    border-bottom: 5px solid #545962;
    border-left: 5px solid rgba(140,145,157,0);
    position: absolute;
    right: 20px;
    z-index: 0;
    margin-top:21px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/*date css*/
.changeWord-date{
    width: 12.9vw;
    max-width:97px;
    max-height: 180px;
    background-image: url("../images/mrs_date.png");
    background-size: 100% auto;
    height: 24vw;
}
.index_send_message_date{
    width: 70px;
    height: 30px;
    line-height: 30px;
    color: white;
    background: #c4634a;
    border-radius: 2px;
    text-align: center;
    margin-left: 5px;
    display: inline-block;
}
.pack_menu_list_date{
    background: -webkit-linear-gradient(-84deg, #58555b, #3a3b3f);
}
.pack_menu_list_date:after{
    border-top: 4px solid rgba(124, 129, 143, 0);
    border-right: 4px solid #3a3b3f;
    border-bottom: 4px solid #3a3b3f;
    border-left: 4px solid rgba(124, 129, 143, 0);
}
.cs-msg-content-date{
    background-color: #c4634a;
}
.cs_bubble_date{
    border-top: 5px solid rgba(12, 13, 14, 0.0);
    border-right: 5px solid rgba(12, 13, 14, 0.0);
    border-left: 5px solid #c4634a;
    border-bottom: 5px solid #c4634a;
    margin-right: -5.75px;
}
.cs_avatars_date{
    display: none;
}
.user-msg-content-date{
    background-color: rgba(106, 106, 114, 0.6);
}
.bubble-date{
    border-top: 5px solid rgba(106, 106, 114, 0.6);
    border-right: 5px solid rgba(106, 106, 114, 0.6);
    border-left: 5px solid rgba(90, 97, 108, 0.0);
    border-bottom: 5px solid rgba(90, 97, 108, 0.0);
    margin-left: -5.5px;
}
div.menuDiv-date{
    padding: 20px 20px 27px 20px;
    margin: 0px;
    background:linear-gradient(to bottom, #58555b, #3a3b3f);
    border-radius: 4px;
}
div.menuDiv-date:after{
    display: block;
    content: '';
    width: 0px;
    height:0px;
    border-top: 5px solid rgba(140,145,157,0);
    border-right: 5px solid #3a3b3f;
    border-bottom: 5px solid #3a3b3f;
    border-left: 5px solid rgba(140,145,157,0);
    position: absolute;
    right: 20px;
    z-index: 0;
    margin-top:21px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.follow_title_date{
    background: rgba(9, 10, 12, 0.3);
}
.con_dialogForm_date{
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.con_dialogForm_date input{
    display: inline-block;
    /* vertical-align: middle; */
    width: 100%;
    height: 38.5px;
    vertical-align: top;
    border: none;
    background: rgba(107, 105, 115, 0.2);
    border-radius: 4px;
    color: #ffffff;
    font-size: 15px;
    padding: 0px 10px;
    box-sizing: border-box;
    margin: 0px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-appearance: none;
    outline: none;
    margin-top: 7px;
}
.con_dialogForm_date input::-webkit-input-placeholder{
    color: rgba(255, 255, 255, 0.4);
}
.pack_menu_conv_date{
    background: rgba(107, 105, 115, 0.2);
}
.pack_menu_conv_date span:first-child,.pack_menu_conv_date span:nth-child(2){
    background: rgba(255, 255, 255, 0.9);
}
.date-account-container,
.date-expire-container{
    background-image: linear-gradient(to bottom, #58555b, #3a3b3f);
}
.now-open-date{
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    color: #ffffff;
}
/*lunch css*/
.cs-msg-content-lunch{
    background-color: #69ae4b;
}
.cs_bubble_lunch{
    border-top: 5px solid rgba(12, 13, 14, 0.0);
    border-right: 5px solid rgba(12, 13, 14, 0.0);
    border-left: 5px solid #69ae4b;
    border-bottom: 5px solid #69ae4b;
    margin-right: -5.75px;
}
.cs_avatars_lunch{
    display: none;
}
.user-msg-content-lunch{
    background-color: #5b6365;
}
.bubble-lunch{
    border-top: 5px solid #5b6365;
    border-right: 5px solid #5b6365;
    border-left: 5px solid rgba(90, 97, 108, 0.0);
    border-bottom: 5px solid rgba(90, 97, 108, 0.0);
    margin-left: -5.5px;
}
.index_send_message_lunch{
    width: 70px;
    height: 30px;
    line-height: 30px;
    color: white;
    background: #69ae4b;
    border-radius: 2px;
    text-align: center;
    margin-left: 5px;
    display: inline-block;
}
div.menuDiv-lunch{
    padding: 20px 20px 27px 20px;
    margin: 0px;
    background:linear-gradient(to bottom, #6f777c, #62676b);
    border-radius: 4px;
}
div.menuDiv-lunch:after{
    display: block;
    content: '';
    width: 0px;
    height:0px;
    border-top: 5px solid rgba(140,145,157,0);
    border-right: 5px solid #62676b;
    border-bottom: 5px solid #62676b;
    border-left: 5px solid rgba(140,145,157,0);
    position: absolute;
    right: 20px;
    z-index: 0;
    margin-top:21px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.lunch-account-container,
.lunch-expire-container{
    background-image: linear-gradient(to bottom, #6f777c, #62676b);
}
.now-open-lunch{
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    color: #ffffff;
}
.pack_menu_list_lunch{
    background: -webkit-linear-gradient(-84deg, #6f777c, #62676b);
}
.pack_menu_list_lunch:after{
    border-top: 4px solid rgba(124, 129, 143, 0);
    border-right: 4px solid #62676b;
    border-bottom: 4px solid #62676b;
    border-left: 4px solid rgba(124, 129, 143, 0);
}
.changeWord-lunch{
    width: 19.3vw;
    max-width:145px;
    max-height: 128px;
    background-image: url("../images/mrs_lunch.png");
    background-size: 100% auto;
    height: 17vw;
}
.follow_title_lunch{
    background: rgba(9, 10, 12, 0.3)
}
.con_dialogForm_lunch{
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.con_dialogForm_lunch input{
    display: inline-block;
    /* vertical-align: middle; */
    width: 100%;
    height: 38.5px;
    vertical-align: top;
    border: none;
    background: rgba(91, 98, 101, 0.3);
    border-radius: 4px;
    color: #ffffff;
    font-size: 15px;
    padding: 0px 10px;
    box-sizing: border-box;
    margin: 0px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-appearance: none;
    outline: none;
    margin-top: 7px;
}
.con_dialogForm_lunch input::-webkit-input-placeholder{
    color: rgba(255, 255, 255, 0.4);
}
.pack_menu_conv_lunch{
    background: rgba(91, 98, 101, 0.3);
}
.pack_menu_conv_lunch span:first-child,.pack_menu_conv_lunch span:nth-child(2){
    background: rgba(255, 255, 255, 0.9);
}

/*klm css*/
.changeWord-klm{
    width: 19.7vw;
    height: 11.5vw;
    max-width:148px;
    max-height: 86px;
    background-image: url("../images/mrs_klm.png");
    background-size: 100% auto;
}
.index_send_message_klm{
    width: 70px;
    height: 30px;
    line-height: 30px;
    color: white;
    background: #1a87ca;
    border-radius: 2px;
    text-align: center;
    margin-left: 5px;
    display: inline-block;
}
.symbol_kml{
    display: inline-block;
    width: 1px;
    height: 20px;
    background: #ffffff;
    -webkit-animation: twinkling 1s infinite ease-in-out;
    vertical-align: top;
    margin-top: 5px;
}
.user-msg-content-klm{
    background-color: rgb(114, 123, 136);
}
.bubble-klm{
    border-top: 5px solid #707c87;
    border-right: 5px solid #707c87;
    border-left: 5px solid rgba(90, 97, 108, 0.0);
    border-bottom: 5px solid rgba(90, 97, 108, 0.0);
    margin-left: -5.5px;
}
.cs-msg-content-klm{
    background-color: #1a87ca;
}
.cs_bubble_klm{
    border-top: 5px solid rgba(12, 13, 14, 0.0);
    border-right: 5px solid rgba(12, 13, 14, 0.0);
    border-left: 5px solid #1a87ca;
    border-bottom: 5px solid #1a87ca;
    margin-right: -5.75px;
}
.cs_avatars_klm{
    display: none;
}
.con_dialogForm_klm input{
    display: inline-block;
    /* vertical-align: middle; */
    width: 100%;
    height: 38.5px;
    vertical-align: top;
    border: none;
    background: rgba(114, 123, 136, 0.3);
    border-radius: 4px;
    color: #ffffff;
    font-size: 15px;
    padding: 0px 10px;
    box-sizing: border-box;
    margin: 0px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-appearance: none;
    outline: none;
    margin-top: 7px;
}
.con_dialogForm_klm input::-webkit-input-placeholder{
    color: rgba(255, 255, 255, 0.4);
}
.follow_title_klm{
    display: none;
}
.con_dialogForm_klm{
    padding:0 15px 0 15px;
}
.klm-expire-container{
    background-image: linear-gradient(to bottom,#6f777c, #62676b);
}
.now-open-klm{
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    color: #ffffff;
}