#server_select {
    width: 88vw;
    height: 140.8vw;
    max-width: 369px;
    max-height: 590.4px;
    z-index: 99;
    border-radius: 4px;
    overflow: hidden;
    background: -webkit-linear-gradient(99deg, #8C909D, #9095A2);
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -44vw;
    margin-top: -70.4vw;
    animation:fade-in 0.3s 1;
    -webkit-animation:fade-in 0.3s  1;
}

.popup_container{
    width: 100%;
    height: 100%;
    background: rgba(23, 23, 23, 0.5);
    position: absolute;
    top: 0px;
    left:0px;
    display: none;
    z-index: 99;
}
.invite_friend{
    width: 88vw;
    height: 140.8vw;
    padding: 2px;
    background: -webkit-linear-gradient( 148deg,#9095a2, #7d7d8b);
    max-width: 369px;
    max-height: 590.4px;
    border-radius: 4px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -44vw;
    margin-top: -70.4vw;
}
.invite_friend2{
    width:100%;
    height:100%;
    box-sizing: border-box;
    background-image: url("../images/s_bg_code.png");
    background-size:100% auto;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 4px;
}
.code_error{
    color: #ffffff;
    font-size:12px;
    text-align: center;
    margin-top: 5px;
    opacity: 0;
}
a{
    text-decoration: none;
    color: white;
}
.bg_style{
    background:url(../images/s_server.png);
    background-repeat:no-repeat;
}
.bg_style_list{
    background: transparent;
}
.server_img{
    /*position: relative;*/
    width:100%;
}
.server_img .server_imgage{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.server_intro{
    font-size: 22px;
    margin-top: 32.5px;
    text-align: center;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.server_intro_info{
    width: 100%;
    font-size: 15px;
    margin-top: 10px;
    text-align: center;
}
.enter_code{
    margin-top: 9vh;
}
.open_member{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: underline;
    margin-top: 8px;
}
.input_code{
    width: 140px;
    height: 35px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.2);
    border: solid 1px rgba(255, 255, 255, 0.5);
    outline: none;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
}
.kaishi_sel{
    color: rgba(255, 255, 255, 0.3);
}
.start_select_server{
    width: 100%;
    height: 49px;
    font-size: 15px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    /*cursor: pointer;*/
    border-top: 1px solid rgba(216,216,216,.3);
    background: -webkit-linear-gradient(99deg, #8C909D , #9095A2);
    background: -o-linear-gradient(99deg, #8C909D , #9095A2);
}
#server_infomation{
    overflow-y: scroll;
    -webkit-overflow-scrolling:touch;
}
.svgserver{
    display: none;
    width:100%;
    height:100%;
    position: absolute;
    z-index: -1;
}
.server_list{
    display: none;
    width:100%;
    padding: 0px;
    margin: 0px;
}

ul.server_list li{
    list-style: none;
    width:100%;

    box-sizing: border-box;
    /*padding: 0px;*/
    margin: 0px;
    padding: 20px;
}
.borstyle{
    height: 140px;
    border-bottom: 1px solid rgba(216,216,216,.3);
}
.list_first{
    height: auto;
}
.server_list_lis{
    width:100%;
    height:100%;
    /*display: table;/*/
}
.server_list_lis div{
    /*display: table-row;*/
    vertical-align: middle;
}
.server_name{
    font-size: 20px;
}
.server_des{
    font-size: 13px;
    margin-top: 3px;
    line-height: 1.4;
}
.server_list_lis  .server_pic,.server_list_lis  .server_infomation,.server_list_lis .ser_btn_select{
    display: inline-block;
}
.server_list_lis .server_infomation,.server_info_detail{
    word-wrap: break-word;
    line-height: 1.4;
    /*text-align: justify;*/
}
.server_list_lis .server_infomation .server_name{
    text-align: left;
}
.server_info_detail{
    font-size: 15px;
    margin-top: 6px;
}
.server_pic{
    width: 95px;
    height: 95px;
}
.server_pic img{
    width: 95px;
    height: 95px;
}
.btn_select_ser{
    display: inline-block;
    width: 15px;
    height: 15px;
    background: rgba(255,255,255,.1);
    vertical-align: middle;
    border-radius: 50px;
}
.btn_selected_ser{
    display: inline-block;
    width: 15px;
    height: 15px;
    background: rgba(255,255,255,.1);
    vertical-align: middle;
    border-radius: 50px;
    background-image: url("../images/s_server_select.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 7px auto;
}
.ljxq{
    color: rgba(255,255,255,0.4);
    font-size: 12px;
    margin-left: 10px;
    margin-top: 2px;
}
.ser_detail{
    width: 0px;
    height: 0px;
    z-index: 100;
    display: none;
}
/*.ser_detail{*/
/*-webkit-transition:all 0.1s linear;*/
/*-moz-transition:all 0.1s linear;*/
/*-ms-transition:all 0.1s linear;*/
/*-o-transition:all 0.1s linear;*/
/*transition:all 0.1s linear;*/
/*}*/
.svgdetail{
    width:100%;
    height: 100%;
    position: absolute;
    z-index:-1;
}
.detail_pic{
    width:100%;
    height:55%;
}
.detail_close{
    width: 15px;
    height: 15px;
    background: url("../images/s_ico_close.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 15px 15px;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 100;
}
.detail_desc{
    padding: 0px 30px;
}
.start_trail{
    width: 100%;
    height: 100%;
    display: none;
}
.detail_rate{
    width:auto;
    height: 100%;
    line-height: 49px;
    float: left;
    margin-left: 17.5px;
    color: #ffffff;
    font-size: 12px;
}
.detail_selected{
    font-size: 15px;
}
.detail_total_len{
    font-size: 12px;
}
.btn_start_use{
    width:auto;
    height: 100%;
    line-height: 50px;
    float: right;
    margin-right: 20px;
    color: rgba(255, 255, 255, .0);
    font-size: 15px;
}
.responseType{
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    line-height: 15px;
    margin-top: -5px;
}
.response-type{
    display: none;
    vertical-align: middle;
    position: absolute;
    top: 20px;
    left: 25px;
}
.invite_img{
    width:100%;
    height: auto;
    padding-top: 10vh;
}
.invite_img img{
    width: 50vw;
    max-width: 207px;
    margin-left: auto;margin-right: auto;display: block;
}
*{
    box-sizing: border-box;
}
.invite_friends{

    font-size: 20px;
    width:100%;
    text-align: center;
    margin-top: 4.5vh;
}
.invite_intro{
    font-size: 15px;
    max-width:75%;
    text-align: center;
    margin-top: 10px;
    color: rgba(255, 255, 255, .7);
    margin-left: auto;
    margin-right: auto;
}
.ur_code{
    width:100%;
    font-size: 15px;
    margin-top: 7.5vh;
    text-align: center;
    color: rgba(255, 255, 255, .7);
}
.user_code{
    width:100%;
    font-size: 20px;
    color: white;
    letter-spacing: 2.25px;
    text-align: center;
}
.the_rest{
    font-size: 12px;
    color: rgba(255,255,255, .6);
    position: absolute;
    left: 20px;
    bottom: 22px;
}
.allow_used{
    display: inline-block;
    padding: 1px 3.5px 1.5px 3.5px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;

}
.code_qr{
    display: block;
    width: 60px;
    height: auto;
    position:absolute;
    right: 18.5px;
    bottom: 13.5px;
}
@media screen and (max-width: 320px) {
    .invite_img {
        width: 100%;
        height: auto;
        padding-top: 8vh;
    }
    .invite_friends {
        font-size: 20px;
        width: 100%;
        text-align: center;
        margin-top: 3vh;
    }
    .ur_code {
        width: 100%;
        font-size: 15px;
        margin-top: 6vh;
        text-align: center;
        color: rgba(255, 255, 255, .7);
    }
}