.common_popups{
    width: 88vw;
    max-width: 369px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    /*margin-left: -44vw;*/
    border-radius: 4px;
}
#server_select {
    height: 140.8vw;
    max-height: 590.4px;
    max-width: 369px;
    z-index: 99;
    /*background: -webkit-linear-gradient(99deg, #8C909D, #9095A2);*/
    animation:fade-in 0.3s 1;
    -webkit-animation:fade-in 0.3s  1;
}
.invite_friend{
    height: 140.8vw;
    background: -webkit-linear-gradient( 148deg,#9095a2, #7d7d8b);
    max-height: 590.4px;
    max-width: 369px;
    border-radius: 5px;
}
.promo_enter{
    height: 57vw;
    max-height: 214px;
    background: -webkit-linear-gradient( 123deg, #9095A2,#63636e);
    overflow: hidden;
}
.promo_focus{
    top: 0px;
    margin-top: 6vh;
    transform: translate(-50%,0%);
    -webkit-transform: translate(-50%,0%);
}
.popup_container{
    width: 100%;
    height: 100%;
    background: rgba(24, 25, 28, 0.85);
    position: absolute;
    top: 0px;
    left:0px;
    display: none;
    overflow-y: scroll;
    -webkit-overflow-scrolling:touch;
    z-index: 99;
}
.enter_ur_promocode{
    font-size: 17px;
    color: #ffffff;
    padding: 10% 0 0 0;
}
.ur_promo{
    width: 70vw;
    max-width: 293px;
    margin:auto;
}
/*.promo_form{*/
    /*padding-left: 40px;*/
/*}*/
.promo_input{
    width: 70vw;
    height: 10vw;
    max-width: 293px;
    max-height: 37px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.05);
    border: solid 1px rgba(255, 255, 255, 0.3);
    outline: none;
    color: #ffffff;
    display: block;
    margin-top: 15px;
    font-size: 17px;
    margin-left:auto;
    margin-right: auto;
}
.promo_next{
    width: 100%;
    height: 50px;
    border-top: solid 1px rgb(255, 255, 255);
    /*background-image: linear-gradient(99deg, #63636e, #9095a2);*/
    font-size: 15px;
    color: rgb(255,255,255);
    text-align: center;
    opacity: 0.3;
    line-height: 50px;
    position: absolute;
    bottom: 0px;
}
.promo_success{
    padding: 11vh 0 0 0;
    display: none;
}
.promo_success_div{
    text-align: center;
    color: white;
    font-size: 17px;
}
.auto_close{
    width: 100%;
    font-size: 12px;
    color: rgba(255, 255, 255, .3);
    position: absolute;
    bottom: 4vh;
}
.invite_friend2{
    width:100%;
    height:100%;
    box-sizing: border-box;
    background-image: url("../images/s_bg_code.png");
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 4px;
}
.code_error{
    color: #ffffff;
    font-size:12px;
    text-align: center;
    margin-top: 5px;
    opacity: 0;
}
.promo_code_error{
    color: #ffffff;
    font-size: 12px;
    text-align: left;
    margin-top: 7.5px;
    opacity: 0;
}
.bg_style{
    background:url(../images/s_server.jpg);
    background-repeat:no-repeat;
}
.bg_style_list{
    background: transparent;
}
.server_img{
    /*position: relative;*/
    width:100%;
    margin-top: 10vh;
}
.server_img .server_imgage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 19vw;
    max-width: 71px;
}
.server_intro{
    font-size: 22px;
    margin-top: 4vh;
    text-align: center;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.server_intro2{
    text-align: center;
    width: 140px;
    max-width: 75%;
    position: absolute;
    left: 50%;
    bottom: 26px;
}
.server_intro_info{
    width: 100%;
    font-size: 15px;
    margin-top: 2vh;
    text-align: center;
}
/*.enter_code{*/
    /*margin-top: 9vh;*/
/*}*/
.open_member{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 13px;
}
.open_member a{
    text-decoration: none;
    color: white;
    border-bottom: 1px solid rgba(255,255,255,.5);
}
.open_server_link,
.open_my_accout{
    text-decoration: none;
    color: white;
}
.input_code{
    width: 140px;
    height: 35px;
    border-radius: 3px;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0.2);
    border: solid 1px rgba(255, 255, 255, 0.5);
    outline: none;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
}
.kaishi_sel{
    color: rgba(255, 255, 255, 0.3);
}
.start_select_server{
    width: 100%;
    height: 50px;
    font-size: 15px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    /*cursor: pointer;*/
    border-top: 1px solid rgba(216,216,216,.3);
    background: -webkit-linear-gradient(99deg, #8C909D , #9095A2);
    background: -o-linear-gradient(99deg, #8C909D , #9095A2);
}
#server_infomation{
    overflow-y: scroll;
    -webkit-overflow-scrolling:touch;
    position: relative;
}
.svgserver{
    display: none;
    width:100%;
    height:100%;
    position: absolute;
    z-index: -1;
}
.server_list{
    display: none;
    width:100%;
    padding: 0px;
    margin: 0px;
}

ul.server_list li{
    list-style: none;
    width:100%;

    box-sizing: border-box;
    /*padding: 0px;*/
    margin: 0px;
    padding: 20px;
}
.borstyle{
    height: 140px;
    border-bottom: 1px solid rgba(216,216,216,.3);
}
.list_first{
    height: auto;
}
.server_list_lis{
    width:100%;
    height:100%;
    /*display: table;/*/
}
.server_list_lis div{
    /*display: table-row;*/
    vertical-align: middle;
}
.server_name{
    font-size: 20px;
}
.server_des{
    font-size: 13px;
    margin-top: 3px;
    line-height: 1.4;
}
.server_list_lis  .server_pic,.server_list_lis  .server_infomation,.server_list_lis .ser_btn_select{
    display: inline-block;
}
.server_list_lis  .ser_btn_select{
    display: none;
}
.server_list_lis .server_infomation,.server_info_detail{
    word-wrap: break-word;
    line-height: 1.4;
    /*text-align: justify;*/
}
.server_list_lis .server_infomation .server_name{
    text-align: left;
}
.server_info_detail{
    font-size: 15px;
    margin-top: 6px;
}
.server_pic{
    width: 95px;
    height: 95px;
}
.server_pic img{
    width: 95px;
    height: 95px;
}
.btn_select_ser{
    display: inline-block;
    width: 15px;
    height: 15px;
    background: rgba(255,255,255,.1);
    vertical-align: middle;
    border-radius: 50px;
}
.btn_selected_ser{
    display: inline-block;
    width: 15px;
    height: 15px;
    background: rgba(255,255,255,.1);
    vertical-align: middle;
    border-radius: 50px;
    background-image: url("../images/s_server_select.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 7px auto;
}
.ljxq{
    color: rgba(255,255,255,0.4);
    font-size: 12px;
    margin-left: 10px;
    margin-top: 2px;
}
.start_soon{
    color: rgba(255,255,255,0.4);
    font-size: 12px;
}
.ser_detail{
    width: 88vw;
    max-width: 369px;
    height: 140.8vw;
    max-height: 590.4px;
    z-index: 100;
    display: none;
    animation:fade-in 0.3s 1;
    -webkit-animation:fade-in 0.3s  1;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    border-radius: 4px;

}
/*.ser_detail{*/
/*-webkit-transition:all 0.1s linear;*/
/*-moz-transition:all 0.1s linear;*/
/*-ms-transition:all 0.1s linear;*/
/*-o-transition:all 0.1s linear;*/
/*transition:all 0.1s linear;*/
/*}*/
.svgdetail{
    width:100%;
    height: 100%;
    position: absolute;
    z-index:-1;
}
.detail_pic{
    width:100%;
    height:55%;
}
.detail_close{
    width: 30px;
    height: 30px;
    background: url("../images/s_ico_close.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 15px 15px;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 100;
}
.detail_desc{
    padding: 0px 30px;
}
.start_trail{
    width: 100%;
    height: 100%;
    display: none;
}
.detail_rate{
    width:auto;
    height: 100%;
    line-height: 49px;
    float: left;
    margin-left: 17.5px;
    color: #ffffff;
    font-size: 12px;
    display: none;
}
.detail_selected{
    font-size: 15px;
}
.detail_total_len{
    font-size: 12px;
}
.btn_start_use{
    width:auto;
    height: 100%;
    line-height: 50px;
    float: right;
    margin-right: 20px;
    color: rgba(255, 255, 255, .0);
    font-size: 15px;
}
.responseType{
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    line-height: 15px;
    margin-top: -5px;
}
.response-type{
    display: none;
    vertical-align: middle;
    position: absolute;
    top: 20px;
    left: 25px;
}
.invite_img{
    width:100%;
    height: auto;
    padding-top: 30%;
}
.invite_img img{
    width: 60vw;
    max-width: 229px;
    margin-left: auto;margin-right: auto;display: block;
}
*{
    box-sizing: border-box;
}
.invite_friends{
    font-size: 20px;
    width:100%;
    text-align: center;
    margin-top: 4.5vh;
}
.invite_intro{
    font-size: 15px;
    max-width:75%;
    text-align: center;
    margin-top: 10px;
    color: rgba(255, 255, 255, .7);
    margin-left: auto;
    margin-right: auto;
}
.ur_code{
    font-size: 15px;
    text-align: left;
    color: rgba(255, 255, 255, .7);
    line-height: 1;
}
.user_code{
    font-size: 22px;
    color: white;
    letter-spacing: 2.25px;
    text-align: left;
    margin-top: 15px;
    line-height: 1;

}
.restnum{
    display: inline-block;
    font-size: 25px;
    margin-left: 5px;
    margin-right: 5px;
}
.the_rest{
    color: rgba(255,255,255, .6);
    position: absolute;
    left: 22.5px;
    bottom: 32px;
    display: none;
}
/*.allow_used{*/
    /*display: inline-block;*/
    /*padding: 2px 2px;*/
    /*border-radius: 3px;*/
    /*background-color: rgba(255, 255, 255, 0.1);*/
    /*color: white;*/
    /*margin-left: 3px;*/
    /*margin-right: 3px;*/
/*}*/
.code_qr{
    display: block;
    width: 62.5px;
    height: auto;
    position:absolute;
    right: 22.5px;
    bottom: 24px;
}
.code-line{
    width: 150px;
    height: 1px;
    background: rgba(255,255,255,.3);
    position: absolute;
    bottom: 24px;
    left: 22.5px;
    display: none;
}
@media screen and (max-width: 320px) {
    .invite_img {
        width: 100%;
        height: auto;
        padding-top: 26%;
    }
    .invite_friends {
        font-size: 20px;
        width: 100%;
        text-align: center;
        margin-top: 4.5vh;
    }
    /*.ur_code {*/
        /*display: inline-block;*/
        /*width: 100%;*/
        /*font-size: 15px;*/
        /*!*margin-top: 6vh;*!*/
        /*text-align: left;*/
        /*color: rgba(255, 255, 255, .7);*/
        /*line-height:normal;*/
    /*}*/
}
/*coffee css*/
.bg_style_coffee{
    background:url(../images/s_server_coffee.jpg);
    background-repeat:no-repeat;
}
.start_select_server_coffee{
    border-top: 1px solid rgba(169, 141, 101, 0.3);
    background: #2a2a2d;
    color: #a98d65;
}
.kaishi_sel_coffee{
    color: #a98d65;
}
.server_img .server_imgage_coffee{
    width: 46vw;
    max-width: 175px;
}
/*.server_img_coffee{*/
    /*margin-top: 18.6vw;*/
/*}*/
.server_intro_coffee{
    margin-top: 3.5px;
}
.server_intro_info_coffee{
    color: rgba(255, 255, 255, .7);
}
.input_code_coffee{
    background-color: rgba(255, 255, 255, 0.05);
    border: solid 1px rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, .7);
}
.invite_friend2_coffee{
    background-image: url("../images/s_bg_code_coffee.png");
}
.promo_enter_coffee{
    background: #2a2a2d;
}
.promo_next_coffee{
    border-top: 1px solid rgb(169, 141, 101);
    color: rgb(169, 141, 101);
    opacity: 0.3;
}
.server_intro2_coffee{
    bottom: 7.8%;
}
.promo_enter_trip{
    background: linear-gradient(to bottom, #727b88, #545962);
}
.promo_next_trip{
    border-top: 1px solid rgb(255,255,255);
    color: rgb(255, 255, 255);
    opacity: 0.3;
}
.invite_friend2_trip{
    background-image: url("../images/s_bg_code_trip.jpg");
}
.bg_style_trip{
    background:url(../images/s_server_trip.jpg);
    background-repeat:no-repeat;
}
.start_select_server_trip{
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    background:   #484c55;
    color: #ffffff;
}
.kaishi_sel_coffee{
    color: #ffffff;
}
.server_img .server_imgage_trip{
    width: 44vw;
    max-width: 330px;
}
.server_intro_trip{
    margin-top: 5%;
    max-width:80%;
}
.promo_enter_date{
    background: linear-gradient(to bottom, #514f53, #3a3b3f);
}
.invite_friend2_date{
    background-image: url("../images/s_bg_code_date.jpg");
}
.bg_style_date{
    background:url(../images/s_server_date.jpg);
    background-repeat:no-repeat;
}
.start_select_server_date{
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    background: #313236;
    color: #ffffff;
}
.server_img .server_imgage_date{
    width: 42.6vw;
    max-width: 320px;
}
.server_intro_date{
    margin-top: 0;
    max-width:80%;
}
.bg_style_lunch{
    background:url(../images/s_server_lunch.jpg);
    background-repeat:no-repeat;
}
.server_img .server_imgage_lunch{
    width: 34vw;
    max-width: 258.3px;
}
.server_intro_lunch{
    margin-top: 5%;
    max-width:80%;
}
.start_select_server_lunch{
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    background: #6f777c;
    color: #ffffff;
}
.invite_friend2_lunch{
    background-image: url("../images/s_bg_code_lunch.jpg");
}
.promo_enter_lunch{
    background: linear-gradient(to bottom, #6f777c, #62676b);
}
/*kml*/
