<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1.0"/>
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <title>S先生</title>
    <link href="../static/css/itinerary.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="route-date">
    <span class="today-dis">今天</span>
    <span id="route-date"><span id="route-date-m"></span>月<span id="route-date-d"></span>日</span>
</div>
<div class="contain" id="contain">
    <div class="route-container">
        <div class="route-content" id="route-content"></div>
    </div>
</div>
<div class="route-edit" id="route-edit"></div>
<script>
//    var icode='{{icode}}';
    var icode='6b0n6oywiqk9eakn';
</script>
<script type="text/javascript" src="../static/js/zepto.js"></script>
<script type="text/javascript" src="../static/js/itinerary.js"></script>
</body>
</html>