<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>*</title>
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1,user-scalable=no">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <link rel="stylesheet" type="text/css" href="/static/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/static/css/join-in-main.css">
  </head>
  <body>
    <div class="container">
      <div class="inner">
        <div class="card active">
          <h1>STANDARD</h1>
          <h2>8个服务种类，个人虚拟管家为你提供合适的方案，并执行。</h2>
          <div class="line"></div>
          <h4>原价¥365/年，现在价格</h4>
          <div class="price">
            <div class="unit">￥</div>
            <div class="count">180</div>
            <div class="cycle">／年</div>
          </div>
          <div id="join" class="active">开通会员</div>
        </div>
      </div>
      <div class="inner">
        <div class="card">
          <h1>PRIME</h1>
          <h2>享受顶级酒店和餐厅会员服务，1对1虚拟管家提供专属服务，并享有私人loyalty program管理服务。</h2>
          <div class="line"></div>
          <h4>需要Prime会员邀请</h4>
          <div class="price">
            <div class="unit">￥</div>
            <div class="count">3650</div>
            <div class="cycle">／年</div>
          </div>
          <div class="active_code">
            <input placeholder="输入邀请码..">
            <div class="button">开通会员</div>
          </div>
        </div>
      </div>
      <div class="inner">
        <div class="card">
          <h1>CLUB</h1>
          <h2>享受顶级酒店和餐厅会员服务，1对1虚拟管家提供专属服务，并享有私人loyalty program管理服务。</h2>
          <div class="line"></div>
          <h4>等待邀请</h4>
        </div>
      </div>
    </div>
    <script src="/static/js/join-in-lib.js"></script>
    <script src="/static/js/join-in-main.js"></script>
  </body>
</html>