<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>S先生</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1.0"/>
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <link href="../statics/css/mrs.css" rel="stylesheet" type="text/css">
    <link href="../statics/css/server.css" rel="stylesheet" type="text/css">
    <script src="http://api.map.baidu.com/api?v=1.4" type="text/javascript"></script>
    <script type="text/javascript" src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
    <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=d74f511c9bf85fe44ab78e213f288688&plugin=AMap.Geocoder"></script>
    <script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
</head>
<body class="bg">
<div id="positionErr" style="position: absolute;top: -200px;"></div>
<svg class="svgrect" xmlns="http://www.w3.org/2000/svg">
    <defs>
        <linearGradient y1="0" x1="0" y2="1" x2="0"  id="svg_2">
            <stop stop-color="#15181E" offset="0"/>
            <stop stop-color="#363D4E" offset="1"/>
        </linearGradient>
    </defs>
    <g>
        <title>Layer 1</title>
        <rect id="svg_1" width="100%" height="100%" y="0" x="0" fill="url(#svg_2)"/>
    </g>
</svg>
<div class="pack_menu_list"><ul class="pack_menu_list_ul"><li onclick="server_list()">选择服务</li><li>邀请好友</li><li>开通服务</li></ul></div>
<div class="pack_menu" onclick="select_server()"><span></span><span></span></div>
<div class="rest_days">试用剩余<span class="days_num">30</span>天</div>
<div class="weather"><span id="result"></span></div>
<div class="container " id="container">
    <div class="mrs dialog-infos" id="dialog-info">
        <div class="loader"></div>
        <div class="scrollWrap" id="conv_content">
            <div class="change"><div class="changeWord"></div><span class="changeHuashu"></span></div>
            <div id='changeDialog' class='changeDialog'></div>
        </div>
    </div>
    <div class="testEdit">Beta 0.9</div>
    <div id="dialog" class="dialog">
        <!--<span id="menu" onclick="menuList()"></span>-->
        <div class="follow_title">
            <div class="follows"><span style="text-decoration: underline;color: white;" onclick="menuList()">关注S先生</span>公众账号，获得即时服务提醒</div>
            <div class="icon_close" onclick="close_bottom_title(this)"></div>
        </div>
        <form class="con_dialogForm" action="#" onsubmit="return false" >
            <input placeholder="点击输入..." id="dialog-input" type="text" class="con_dialog_input">
            <span class="pack_menu_conv" onclick="select_server()"><span></span><span></span></span>
        </form>

    </div>
</div>
<div class="menu_list" id="menu_list"></div>
<div class='ser_detail'>
    <div class='detail_close' onclick='close_detail(this)'></div>
    <svg class='svgdetail' xmlns='http://www.w3.org/2000/svg'><defs>
        <linearGradient y1='0' x1='0' y2='1' x2='1'  id='svg_4'>
            <stop stop-color='#63636E' offset='0'/>
            <stop stop-color='#9095A2' offset='1'/>
        </linearGradient>
    </defs>
        <g><title>Layer 2</title> <rect id='svg_3' width='100%' height='100%' y='0' x='0' fill='url(#svg_4)'/> </g> </svg>
    <span class='response-type'><img src='../statics/images/s_plan_icon.png' width='67.5' height='20' style="display: block"></span>
    <div class='detail_pic'></div>
    <div class='detail_desc'></div>
</div>
<div id="server_select_contain">
    <div id="server_select" >
        <svg class="svgserver" xmlns="http://www.w3.org/2000/svg">
            <defs>
                <linearGradient y1="0" x1="0" y2="1" x2="1"  id="svg_3">
                    <stop stop-color="#63636E" offset="0"/>
                    <stop stop-color="#9095A2" offset="1"/>
                </linearGradient>
            </defs>
            <g>
                <title>Layer 2</title>
                <rect id="svg_2" width="100%" height="100%" y="0" x="0" fill="url(#svg_3)"/>
            </g>
        </svg>
        <div id="server_infomation" class="bg_style">
            <div class="server_img"><img class="server_imgage" src="../statics/images/s_logo.png"></div>
            <div class="server_intro">
                S先生, 你的私人管家
                <div class="server_intro_info">从安排体验米其林之旅到每天的工作午餐，我们全面考虑，选择适合你的方案，并执行。</div>
            </div>
            <ul class="server_list">
                <li class="list_first borstyle" >
                    <div class="server_list_lis">
                        <div class="server_name">选择服务</div>
                        <div class="server_des" style="color: rgba(255,255,255,.7);margin-top: 5px">想要的服务不在下面？没问题，打字告诉我，我帮你解决。</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="start_select_server" onclick="start_select_server()">
            <span class="kaishi_sel">开&nbsp;&nbsp;始</span>
            <div class="start_trail">
                <div class="detail_rate"><span class="detail_selected">0</span>/<span class="detail_total_len"></span></div>
                <div class="btn_start_use" onclick="start_trail()"></div>
            </div>
        </div>
    </div>
</div>
    <!--<div class="control" id="control"></div>-->
<script type="text/javascript" src="../statics/js/scroll.js"></script>
<script type="text/javascript" src="../statics/js/mrs.js"></script>
<script type="text/javascript" src="../statics/js/server.js"></script>
<script type="text/javascript">
   var open_id='{{open_id}}';
   var corps;
//var open_id='oO8gHuIekrttc8CxLxiklw3mFsQw';
//var open_id='oO8gHuFvnrUj0PfCGLNi1gv_o2tU';
//var open_id='oO8gHuPvbwBykbpzrwIJZbrbyQxA';//user_status==0;
//var open_id='oO8gHuMOIziAkqaTZWvVsm7kOX-c';
</script>
</body>
</html>