<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>S先生</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1.0"/>
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <link href="static/css/mrs.css" rel="stylesheet" type="text/css">
    <link href="static/css/server.css" rel="stylesheet" type="text/css">
    <script src="http://api.map.baidu.com/api?v=1.4" type="text/javascript"></script>
    <script type="text/javascript" src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
    <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=d74f511c9bf85fe44ab78e213f288688&plugin=AMap.Geocoder"></script>
    <script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
</head>
<body class="bg">
<div id="positionErr" style="position: absolute;top: -200px;"></div>
<svg class="svgrect" xmlns="http://www.w3.org/2000/svg">
    <defs>
        <linearGradient y1="0" x1="0" y2="1" x2="0"  id="svg_2">
            <stop stop-color="#15181E" offset="0"/>
            <stop stop-color="#363D4E" offset="1"/>
        </linearGradient>
    </defs>
    <g>
        <title>Layer 1</title>
        <rect id="svg_1" width="100%" height="100%" y="0" x="0" fill="url(#svg_2)"/>
    </g>
</svg>
<div class="pack_menu_list"><ul class="pack_menu_list_ul"><li onclick="server_list()">选择服务</li><li>邀请好友</li><li>开通服务</li></ul></div>
<div class="pack_menu" onclick="select_server()"><span></span><span></span></div>
<div class="rest_days">试用剩余<span class="days_num">30</span>天</div>
<div class="weather"><span id="result"></span></div>
<div class="container " id="container">
    <div class="mrs dialog-infos" id="dialog-info">
        <div class="loader"></div>
        <div class="scrollWrap" id="conv_content">
            <div class="change"><div class="changeWord"></div><span class="changeHuashu"></span></div>
            <div id='changeDialog' class='changeDialog'></div>
        </div>
    </div>
    <div class="testEdit">Beta 0.9</div>
    <div id="dialog" class="dialog">
        <!--<span id="menu" onclick="menuList()"></span>-->
        <div class="follow_title">
            <div class="follows"><span style="text-decoration: underline;color: white;" onclick="menuList()">关注S先生</span>公众账号，获得即时服务提醒</div>
            <div class="icon_close" onclick="close_bottom_title(this)"></div>
        </div>
        <form class="con_dialogForm" action="#" onsubmit="return false" >
            <input placeholder="点击输入..." id="dialog-input" type="text" class="con_dialog_input">
            <span class="pack_menu_conv" onclick="select_server()"><span></span><span></span></span>
        </form>

    </div>
</div>
<div class="menu_list" id="menu_list"></div>
<div class='ser_detail'>
    <div class='detail_close' onclick='close_detail(this)'></div>
    <svg class='svgdetail' xmlns='http://www.w3.org/2000/svg'><defs>
        <linearGradient y1='0' x1='0' y2='1' x2='1'  id='svg_4'>
            <stop stop-color='#63636E' offset='0'/>
            <stop stop-color='#9095A2' offset='1'/>
        </linearGradient>
    </defs>
        <g><title>Layer 2</title> <rect id='svg_3' width='100%' height='100%' y='0' x='0' fill='url(#svg_4)'/> </g> </svg>
    <span class='response-type'><img src='static/images/s_plan_icon.png' width='67.5' height='20' style="display: block"></span>
    <div class='detail_pic'></div>
    <div class='detail_desc'></div>
</div>
<div id="server_select_contain">
    <div id="server_select" >
        <svg class="svgserver" xmlns="http://www.w3.org/2000/svg">
            <defs>
                <linearGradient y1="0" x1="0" y2="1" x2="1"  id="svg_3">
                    <stop stop-color="#63636E" offset="0"/>
                    <stop stop-color="#9095A2" offset="1"/>
                </linearGradient>
            </defs>
            <g>
                <title>Layer 2</title>
                <rect id="svg_2" width="100%" height="100%" y="0" x="0" fill="url(#svg_3)"/>
            </g>
        </svg>
        <div id="server_infomation" class="bg_style">
            <div class="server_img"><img class="server_imgage" src="static/images/s_logo.png"></div>
            <div class="server_intro">
                S先生, 你的私人管家
                <div class="server_intro_info">从安排体验米其林之旅到每天的工作午餐，我们全面考虑，选择适合你的方案，并执行。</div>
            </div>
            <ul class="server_list">
                <li class="list_first borstyle" >
                    <div class="server_list_lis">
                        <div class="server_name">选择服务</div>
                        <div class="server_des" style="color: rgba(255,255,255,.7);margin-top: 5px">想要的服务不在下面？没问题，打字告诉我，我帮你解决。</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="start_select_server" onclick="start_select_server()">
            <span class="kaishi_sel">开&nbsp;&nbsp;始</span>
            <div class="start_trail">
                <div class="detail_rate"><span class="detail_selected">0</span>/<span class="detail_total_len"></span></div>
                <div class="btn_start_use" onclick="start_trail()"></div>
            </div>
        </div>
    </div>
</div>
    <!--<div class="control" id="control"></div>-->
<script type="text/javascript" src="static/js/scroll.js"></script>
<script type="text/javascript" src="static/js/mrs.js"></script>
<script type="text/javascript" src="static/js/server.js"></script>
<script type="text/javascript">
//   var open_id='{{open_id}}';
   var corps;
var open_id='oO8gHuIekrttc8CxLxiklw3mFsQw';
//var open_id='oO8gHuFvnrUj0PfCGLNi1gv_o2tU';
//var open_id='oO8gHuPvbwBykbpzrwIJZbrbyQxA';//user_status==0;
//var open_id='oO8gHuMOIziAkqaTZWvVsm7kOX-c';
var addr='';
var province='';
var x="";
var browser_hei,browser_width;
function orientationChange(){
    var orientation = window.orientation;
    if(orientation == 0 || orientation == 180){
        //添加竖屏操作
//        alert(' 请取消锁屏横版观看                         ' +
//        '【安卓用户】 ' + '微信->我->设置->通用->开启横屏模式')
        if($("#dialog").css("display")=="none"){
            $(".change").css("display","block");
            $("#changeDialog").css("display","block");
            $(".testEdit").css("display","block");
            $(".rest_days").css("display","block");
        }
        $(".btn_start_use").html(service_btn);
        x=document.getElementById("positionErr");
        browser_hei=$(window).height();
        browser_width=$(window).width();
        var leftMargin=22.5;
        var serverWidth=browser_width-(2*leftMargin);
        var serverHeight=serverWidth*1.6;
        if(serverWidth>369){
            serverWidth=369;
            serverHeight=590.4;
            leftMargin=(browser_width-369)/2;
        }
        $("#server_infomation").css({"width":"100%","height":serverHeight-50});
        $(".bg_style").css({"background-size":''+serverWidth+'px'+' '+(serverHeight-50)+'px'+''});
        $("#server_select").css({"width":serverWidth+"px","height":serverHeight+"px","left":leftMargin,"top":(browser_hei-serverHeight-25)/2});
        $(".server_img img").css({"width":serverWidth*0.19});
        $(".server_img").css({"top":serverHeight*0.21});
        var dialogw=parseInt($("#dialog").css("width"))-20;
        $(".svgrect").css("height",browser_hei);
        $(".container").css("width",$(window).width());
        $(".container").css("height",browser_hei);
        $(".container").css("overflow",'hidden');
        var inputhei=parseInt($("#dialog").css("height"));
        $("#dialog-info").css({"height":(browser_hei-inputhei)+"px","padding-left":"15px","padding-right":"15px"});
        $(".con_dialogForm").css("width",dialogw-parseInt($("#menu").css("width"))-20+"px");
        $(".con_dialogForm input").css("width",(parseInt($("#dialog").css("width"))-61));
    }
    else if(Math.abs(orientation) == 90){
        //添加横屏操作
        //alert('横屏');
        var browser_width=$(window).width();
        var browser_hei=$(window).height();
        $(".container").css({"width":browser_width});
        $(".container").css({"height":browser_hei});
        $(".container").css("overflow",'hidden');
        $(".svgrect").css({"height":browser_hei});
        var inputhei=parseInt($("#dialog").css("height"));
        $("#dialog-info").css({"height":(browser_hei-inputhei)+"px","padding-left":"15px","padding-right":"15px"});
        var leftMargin=22.5;
        var serverWidth=browser_width-(2*leftMargin);
        var serverHeight=serverWidth*1.6;
        if(serverWidth>369){
            serverWidth=369;
            serverHeight=590.4;
            leftMargin=(browser_width-369)/2;
        }
        $("#server_infomation").css({"width":"100%","height":serverHeight-50});
        $(".bg_style").css({"background-size":''+serverWidth+'px'+' '+(serverHeight-50)+'px'+''});
        $("#server_select").css({"width":serverWidth+"px","height":serverHeight+"px","left":leftMargin,"top":(browser_hei-serverHeight-25)/2});
        $(".server_img img").css({"width":serverWidth*0.19});
        $(".server_img").css({"top":serverHeight*0.21});
        $(".con_dialogForm input").css("width",(parseInt($("#dialog").css("width"))-61));
    }else{

    }
}
window.addEventListener("onorientationchange" in window ? "orientationchange" : "resize", orientationChange, false);
    $(document).ready(function(){
//      touchScroll("control");
        $(".con_dialogForm input").css("width",(parseInt($("#dialog").css("width"))-61));
        $(".btn_start_use").html(service_btn);
        x=document.getElementById("positionErr");
        browser_hei=$(window).height();
        browser_width=$(window).width();
        var leftMargin=22.5;
        var serverWidth=browser_width-(2*leftMargin);
        var serverHeight=serverWidth*1.6;
        if(serverWidth>369){
            serverWidth=369;
            serverHeight=590.4;
            leftMargin=(browser_width-369)/2;
        }
        $("#server_infomation").css({"width":"100%","height":serverHeight-50});
        $(".bg_style").css({"background-size":''+serverWidth+'px'+' '+(serverHeight-50)+'px'+''});
        $("#server_select").css({"width":serverWidth+"px","height":serverHeight+"px","left":leftMargin,"top":(browser_hei-serverHeight-25)/2});
        $(".server_img img").css({"width":serverWidth*0.19});
        $(".server_img").css({"top":serverHeight*0.21});
        var dialogw=parseInt($("#dialog").css("width"))-20;
        $(".svgrect").css("height",browser_hei);
        $(".container").css("width",$(window).width());
        $(".con_dialogForm").css("width",dialogw-parseInt($("#menu").css("width"))-20+"px");
        var ua = navigator.userAgent.toLowerCase();
        $("#dialog-input").focus(function(){
            if(ua.indexOf("iphone")>0||ua.indexOf("android")>0){
                setTimeout(function(){
                    var dialogth=$("#dialog").offset().top- $(document).scrollTop();
                    if(window.innerHeight==browser_hei){
                        $("#dialog").css({"position":"static","bottom":""});
                        $(".container").css("height",browser_hei+1000);
                        $(".svgrect").css("height",browser_hei+1000);
                        $(document).scrollTop(dialogth-150);
                    }
                    else if(window.innerHeight!=browser_hei){
                        if(parseInt(dialogth)>window.innerHeight){
                            $("#dialog").css({"position":"static","bottom":""});
                            $(".container").css("height",browser_hei+1000);
                            $(".svgrect").css("height",browser_hei+1000);
                            $(document).scrollTop(browser_hei-window.innerHeight);
                        }
                        else{

                        }
                    }
                    else{

                    }
                },500)
            }
        });
        $("#dialog-input").blur(function(){
            $("#dialog").css({"position":"fixed","bottom":"0px"});
            $(".container").css("height",browser_hei);
            $(".svgrect").css("height",browser_hei);
            $(document).css("scroll","hidden");
            $(document).scrollTop(0);
            document.body.scrollTop=0;
            setTimeout(function(){
                var diaTop=$("#dialog").offset().top;
                $('#dialog-info').css("height",diaTop+'px');
            },500);

        });
        close_keyboard();
        var swiper = function (select) {
            var startY,endY;
            var scrollTopVal=0; //左右滑动请自行修改
            document.getElementById(select).addEventListener("touchstart", touchStart, false);
            document.getElementById(select).addEventListener("touchmove", touchMove, false);
            document.getElementById(select).addEventListener("touchend", touchEnd, false);
            var idselect="#"+select;
            function touchStart(event){
                var touch = event.touches[0];
                startY = touch.pageY;//触摸目标在页面中的y坐标
                scrollTopVal=$(idselect).scrollTop();
                document.removeEventListener('touchmove', bodyScroll, false);
            }
            function touchMove(event){
                var touch = event.touches[0];
                endY = (startY-touch.pageY);
                event._isScroller=true;
                console.log($(idselect).scrollTop());
                if($(idselect).scrollTop()==1){
//                    event.preventDefault();
                    $("#dialog-info").css("overflow-y","hidden");
//                    document.addEventListener('touchmove', bodyScroll, false);
                }
            }
            function touchEnd(event){
                document.removeEventListener('touchmove', bodyScroll, false);
                scrollTopVal=$(idselect).scrollTop();
            }
        };
        var containers=new swiper('server_infomation');
        $(".container").click(function (){
            $(".pack_menu_list").css({"display":"none"});
        })
//        $("#dialog-input").on("keydown", function (e) {
//            if (e.keyCode == 13) {
//                    document.activeElement.blur('dialog-input');
//            }
//        });
    });
function close_keyboard(){
    document.activeElement.blur('dialog-input');
}
//   解决微信浏览器默认事件
var overscroll = function(el) {
    el.addEventListener('touchstart', function() {
        var top = el.scrollTop, totalScroll = el.scrollHeight, currentScroll = top + el.offsetHeight;
        //If we're at the top or the bottom of the containers
        //scroll, push up or down one pixel.
        //this prevents the scroll from "passing through" to
        //the body.
        if(top === 0) {
            el.scrollTop = 1
        } else if(currentScroll === totalScroll) {
            el.scrollTop = top - 1
        }
    });
    el.addEventListener('touchmove', function(evt) {
        //if the content is actually scrollable, i.e. the content is long enough
        //that scrolling can occur
        if(el.offsetHeight < el.scrollHeight)
            evt._isScroller = true
    })
}
overscroll(document.querySelector('.mrs'));
overscroll(document.querySelector('.bg_style'));
document.body.addEventListener('touchmove', function(evt) {
    //In this case, the default behavior is scrolling the body, which
    //would result in an overflow.  Since we don't want that, we preventDefault.
    if(!evt._isScroller) {
        evt.preventDefault()
    }
});
function isTouchDevice(){
    try{
        document.createEvent("TouchEvent");
        return true;
    }catch(e){
        return false;
    }
}
function touchScroll(id){
    if(isTouchDevice()){ //if touch events exist...
        var el=document.getElementById(id);
        var scrollStartPos=0;
        document.getElementById(id).addEventListener("touchstart", function(event) {
            scrollStartPos=this.scrollTop+event.touches[0].pageY;
            event.preventDefault();
        },false);

        document.getElementById(id).addEventListener("touchmove", function(event) {
            this.scrollTop=scrollStartPos-event.touches[0].pageY;
            event.preventDefault();
        },false);
    }
}
    function refesh(){
        query_msg_pack();
    }
</script>
</body>
</html>