<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人账户</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1.0"/>
    <link href="../static/css/account.css" rel="stylesheet" type="text/css">

</head>
<body>
<div class="act-content" id="act-content">
    <div class="act-acount-history"><ul class="act-acount-month"></ul></div>
</div>
<article class="history-detail">
    <div class="close-detail"><img src="../static/images/s_ico_close.png" onclick="close_detail_act()"></div>
    <div class="act-pay-price">支付金额</div>
    <div class="act-pay-price-money"></div>
    <div class="act-history-pay-detail"><ul class="act-hisory-detail-ul"></ul></div>
    <div class="need-help-tos">需要帮助直接告诉S先生</div>
</article>
<script type="text/javascript" src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
<script type="text/javascript" src="../static/js/mrs_orderhistory.js"></script>
</body>
</html>